.second{
  padding: 45px;
}
.pintrest_form{
  border-top: 1px solid $grey;
  padding-top: 25px;
}
.pintrest_box{
  .container{
    padding: 25px 0;
    height: 100px;
    outline: 1px solid red;
  }

}